# Xcode
build/
DerivedData/
*.xcworkspace
!*.xcodeproj/project.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# Misc
*.swp
*.lock
*~
